.background{
    position: relative;
    height: 100%;
    width: 100%;
    background-color: #131316;
}

.array-container{
    height: 700px;
    width: 100%;


}
.array-bar{
    display: inline-block;
    width:2px;
    background-color: papayawhip;
    margin: 0 1px;
    float: left;
}
.button-container{
    height: 60px;
    width: 100%;
    display: inline-block;
    align-items: center;
    flex-direction: column;
    padding-left: 100px;
}
.button{
    height:60px;
    width:200px;
}
#speed{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-right: 240px;
}