.background{
    height: 2000px;
    background-color: #282c34;

}

.array-container{
    float: left;
    height: 700px;
    width: 100%;
    margin: 0 33px;

}

.array-bar{
    display: inline-block;
    width:2px;
    background-color: papayawhip;
    margin: 0 1px;
    /*float: left;*/
}
.button-container{
    height: 100px;
    width: 100%;
    position: static;
}
.button{
    position: relative;
    height:60px;
    width:300px;
}